.game-component {
    text-align: center;
    margin-top: 30px;
}

.image {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
}

.text-color {
    color: black;
}

.option-button {
    background-color: darkcyan;
    border-style: solid;
    border-color: darkcyan;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    font-size: 17px;
}

.option-button:hover {
    background-color: lightcyan;
}

.option {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.option-button-selected {
    background-color: lightcyan;
}

.info-text {
    font-size: 20px;
    margin-top: 20px;
}

.check-button {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 15px;
    border-style: groove;
    border-color: lightgrey;
    margin-top: 20px;
    color:#2e6da4;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
}

.check-button:hover {
    background-color: gainsboro;
}

.divbackgroundcolor {
    background-color: rgba(255,255,255,0.5);
    padding-bottom: 25px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}